<?xml version="1.0"?>
<robot name="object_name">
	<material name="white">
		<color rgba="1 1 1 1" />
	</material>
	<material name="orange">
		<color rgba="1 0.66 0 1" />
	</material>
	<material name="purple">
		<color rgba="0.66 0 0.66 1" />
	</material>
	<material name="grey">
		<color rgba="0.5 0.5 0.5 1" />
	</material>
	<link name="object_name">
		<inertial>
			<!--origin rpy="R P Y" xyz="X Y Z" /-->
			<mass value="M" />
			<!--inertia ixx="0.000360" ixy="0" ixz="0" iyy="0.0000615" iyz="0" izz="0.00036" /-->
		</inertial>
    		<visual>
	      		<origin rpy="R P YA" xyz="X Y Z"/>
      			<geometry>
        			<mesh filename="object_name.obj"/>
      			</geometry>
			<material name="COLOR" />
         	</visual>
    		<collision>
      			<origin rpy="R P YA" xyz="X Y Z"/>
      			<geometry>
        			<mesh filename="object_name.obj"/>
      			</geometry>
    		</collision>
	</link>
</robot>
