<?xml version="1.0"?>
<robot name="objA">
	<link name="objA">
		<inertial>
			<origin rpy="1.57079 0 0" xyz="-0.09 0 -0.08" />
			<mass value="2.0" />
			<!--inertia ixx="0.000360" ixy="0" ixz="0" iyy="0.0000615" iyz="0" izz="0.00036" /-->
		</inertial>
    		<visual>
	      		<origin rpy="1.57079 0 0" xyz="-0.09 0 -0.08"/>
      			<geometry>
        			<mesh filename="objA.obj"/>
      			</geometry>
         	</visual>
    		<collision>
      			<origin rpy="1.57079 0 0" xyz="-0.09 0 -0.08"/>
      			<geometry>
        			<mesh filename="objA.obj"/>
      			</geometry>
    		</collision>
	</link>
</robot>
