<?xml version="1.0"?>
<robot name="objA">
	<material name="white">
		<color rgba="1 1 1 1" />
	</material>
	<material name="orange">
		<color rgba="1 0.66 0 1" />
	</material>
	<material name="purple">
		<color rgba="0.66 0 0.66 1" />
	</material>
	<material name="grey">
		<color rgba="0.5 0.5 0.5 1" />
	</material>
	<link name="objA">
		<inertial>
			<origin rpy="1.57 3.14159 3.14159" xyz="-0.055 0.03 0.08" />
			<mass value="1.0" />
			<!--inertia ixx="0.000360" ixy="0" ixz="0" iyy="0.0000615" iyz="0" izz="0.00036" /-->
		</inertial>
    		<visual>
	      		<origin rpy="1.57 3.14159 3.14159" xyz="-0.055 0.03 0.08"/>
      			<geometry>
        			<mesh filename="objA.obj"/>
      			</geometry>
			<material name="purple" />
         	</visual>
    		<collision>
      			<origin rpy="1.57 3.14159 3.14159" xyz="-0.055 0.03 0.08"/>
      			<geometry>
        			<mesh filename="objA.obj"/>
      			</geometry>
    		</collision>
	</link>
</robot>
