<?xml version="1.0"?>
<robot name="oil_bottle_simple_upright.off">
	<link name="oil_bottle_simple_upright.off">
		<inertial>
			<!--origin xyz="0 0 0" rpy="0 0 0" /-->
			<mass value="0.5" />
			<!--inertia ixx="0.000360" ixy="0" ixz="0" iyy="0.0000615" iyz="0" izz="0.00036" /-->
		</inertial>
    		<visual>
	      		<!--origin rpy="0 0 0" xyz="0 0 0"/-->
      			<geometry>
        			<mesh filename="oil_bottle_simple_upright.off.obj"/>
      			</geometry>
         	</visual>
    		<collision>
      			<!--origin rpy="0 0 0" xyz="0 0 0"/-->
      			<geometry>
        			<mesh filename="oil_bottle_simple_upright.off.obj"/>
      			</geometry>
    		</collision>
	</link>
</robot>
